modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 24678
externalPort = 80

[[ports]]
localPort = 41413
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Astro Dev Server"

[[workflows.workflow]]
name = "Astro Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "git push origin master"
mode = "sequential"
author = 6292784

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push origin master"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"
