---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import Pagination from "@/components/Paginator";
import { sortMDByDate } from "@/utils";
import type { Page, MDXInstance, GetStaticPaths } from "@/data/shared";
import type { Post } from "@/data/posts";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const projectSlugs = ["SteamServerBrowser", "oKaomoji-bot"];
	const allPosts = await Astro.glob<Post>("./*.mdx");
	const writingPosts = sortMDByDate(
		allPosts.filter((p: MDXInstance<Post>) => !projectSlugs.some((slug) => p.url?.includes(slug)))
	);
	return paginate(writingPosts, { pageSize: 10 });
};

const { page }: { page: Page<MDXInstance<Post>> } = Astro.props;

const meta = {
	title: "Feed",
	description: "Writing on development, design, and building things.",
};

const paginationProps = {
	...(page.url.prev && { prevUrl: { url: page.url.prev, text: `← Newer` } }),
	...(page.url.next && { nextUrl: { url: page.url.next, text: `Older →` } }),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">Feed</h1>
	<ul class="space-y-6">
		{page.data.map((p) => (
			<li>
				<PostPreview post={p} as="h2" withDesc />
			</li>
		))}
	</ul>
	<Pagination {...paginationProps} />
</PageLayout>
