---
import ThemeToggle from "../ThemeToggle.astro";
import Icon from "astro-icon"

const url = new URL(Astro.request.url);

const menuLinks = [
	{
		title: "Home",
		path: "/",
	},
	{
		title: "About",
		path: "/about",
	},
	{
		title: "Portfolio",
		path: "/posts",
	},

];
---

<script>
	import { toggleClass } from "@/utils";

	document.addEventListener("DOMContentLoaded", () => {
		const header = document.getElementById("main-header") as HTMLElement;
		const toggleMenuButton = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
		let menuOpen = false;

		toggleMenuButton.addEventListener("click", () => {
			toggleClass(header, "menu-open");
			menuOpen = !menuOpen;
			toggleMenuButton.setAttribute("aria-expanded", menuOpen.toString());
		});
	});
</script>

<!-- header image at top of page above all other content -->

<div >

<!-- HEADER SVG -->
<Icon name="header" class="dash dark:hue-rotate-[27deg] -hue-rotate-[8deg] hover:transform duration-700 line-svg w-full flex relative h-30 overflow-hidden drop-shadow-lg bg-no-repeat bg-cover " />


</div>

<header id="main-header" class="group relative mb-[10px] flex items-center ">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-cente relative sm:inline-block sm:mt-0 sm:ml-4 sm:mr-8 sm:mb-4 sm:z-10 sm:backdrop-blur-none"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<img class="w-12 m-2 dark:hue-rotate-[27deg] -hue-rotate-[88deg] invert dark:invert brightness-100 contrast-150 drop-shadow-sm hover:drop-shadow-lg hover:transform hover:rotate-12 transition-all duration-1000 ease-in-out
			" src="/isoblokbih.png" alt="matts logo" />
		
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-[color:var(--theme-menu-bg)] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:mt-1 sm:-ml-4 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="py-4 px-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						rel="prefetch"
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<ThemeToggle />
	<button
		id="toggle-navigation-menu"
		class="group relative ml-8 h-7 w-7 sm:invisible sm:hidden"
		type="button"
		aria-label="Open main menu"
		aria-expanded="false"
		aria-haspopup="menu"
	>
		<svg
			id="line-svg"
			class="absolute top-1/2 left-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			data-hide="false"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
		</svg>
		<svg
			id="cross-svg"
			class="absolute top-1/2 left-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
			class="text-accent"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			data-hide="true"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
</header>
