---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../../public/mattweb4.gif";

const meta = {
  title: "About",
  description:
    "I'm a web developer and designer based in WA. I love building websites and apps.",
};
---

<PageLayout meta={meta}>
  <div class="space-y-4 sm:space-y-2 ">
    <h1 class="title">About</h1>



<p class="font-bold">Allow me to share a bit more about myself!</p>
<ul class="list-inside list-disc">
  <li>
    My curiosities lies within the web and everything JavaScript-related. I'm particularly enthusiastic about game development within the source 2 engine.
  </li>
  <li>
    Open source is where I seek new challenges and I'm continuously seeking out new opportunities to get involved.
  </li>
  <li>
    Currently, I'm on the lookout for a full-time role as a ANY KIND of developer. While I'm based in the Seattle area, I'm also open to remote positions.
  </li>
  <li>I find pleasure in activities like hiking, caring for pets, playing games, and spending quality time with my family.</li>
</ul>
	</div>

	<div class="space-y-4 sm:space-y-2">
    <hr class=" m-4 "/>
		<h2 class="title pt-4">Education</h2>
		<ul class="list-inside list-disc">
			<li>
		
					<b class="font-sans">Seattle Central</b> - Seattle, WA
			
				<p>
					<b class="font-sans">Web Development AAS-T</b> - 2023
				</p>
			</li>

      <li>
        <b class="font-sans">Code Path</b> - remote
        <p>
          <b class="font-sans">Intermedite Web Develpoment</b> - 2023
      </li>
		</ul>



    <!-- image center -->
    <p class="flex justify-center font-sans">
      You can Email me here @ <b
        ><a class="hover:underline" href="mailto:matthieufelker@skiff.com">Matthieufelker@skiff.com</a>
      </b>
    </p>
    <div class="flex justify-center">
      <Image src={aboutImg} alt="Matt" class="shadow-lg rounded-full brightness-200" />
    </div>
  </div>
</PageLayout>

<style>
  .mattAvi {
    width: 350px;
    border-radius: 100%;
    filter: brightness(5);
  }
</style>
