---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import type { Post } from "@/data/posts";
import { Icon } from "astro-icon";
const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
// import Gallery from "../components/react/Gallery.jsx";
---

<PageLayout meta={{ title: "Home" }}>
  <section>
  
    <SocialList />

  </section>
  <h2 class="title mb-4 text-xl mt-10">Projects</h2>

    <div class="section-grid border border-text rounded-md">
      <section aria-label="Blog post list" class="p-5">
        <ul class="space-y-4 sm:space-y-2">
          {
            allPostsByDate.map((p) => (
              <li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
                <PostPreview post={p} as="h2" />
              </li>
            ))
          }
   
            <a
              class="inline-block p-2 hover:underline"
              href="https://github.com/matthieu-ui"
              target="_blank"
              rel="noopener noreferrer"
            >
            Visit GitHub &rarr;</a>

 


        </ul>


      </section>
    </div>
<!-- 
    <section class="mt-16">
      <Gallery />
    </section> -->

</PageLayout>
