---
import { Icon } from 'astro-icon'
---

<div class="flex flex-wrap items-center gap-x-4 sm:items-center">
	<b class="">Find me on</b>
	<ul class="flex flex-1 items-center gap-x-4 sm:flex-initial ">
		<li class="drop-shadow-lg hover:underline ">
			<a
				class="inline-block p-2 hover:drop-shadow-md "
				href="https://github.com/matthieu-ui"
				target="_blank"
				rel="noopener noreferrer"
			>
			<Icon name="octicon:octoface-24" class=" h-6 w-6 mx-auto antialiased rounded-full " />
				<span class=" font-bold ">Github</span>
			</a>
		</li>
		<li class="drop-shadow-lg hover:underline">
			<a
				class="inline-block p-2 hover:drop-shadow-md "
				href="https://twitter.com/fattmelker"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="teenyicons:twitter-solid" class=" h-6 w-6 mx-auto antialiased " 
				/>
				</svg>
				<span class=" font-bold ">Twitter</span>
			</a>
		</li>
		<li class="drop-shadow-lg hover:underline">
			<a
				class="inline-block p-2  hover:drop-shadow-md"
				href="https://www.linkedin.com/in/matthieufelker/"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="ph:linkedin-logo-bold" class=" h-6 w-6 mx-auto antialiased" />
				</svg>
				<span class=" font-bold">LinkedIn</span>
			</a>
		</li>
		

		</li>
		
	</ul>
</div>
